@import "@/styles/variables";

.blogCarouselContainer {
  padding-block-start: 112px;
  padding-block-end: 92px;

  h2 {
    margin-bottom: 60px;

    @include for-mobile {
      margin-bottom: 40px;
    }
  }

  @include for-mobile {
    padding-inline: 0;
    padding-block-start: 60px;
    padding-block-end: 60px;
  }
}
