@import "@/styles/variables.scss";

.elementWrapper {
  display: block;
  width: 100%;
}

.glass {
  background: rgba(255, 252, 227, 0.15);
  border: 2px solid rgba(255, 252, 227, 0.05);
  box-shadow: 4px -1px 8px rgba(61, 62, 61, 0.2);
  backdrop-filter: blur(12px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 100px;
}

.black {
  background-color: $dark;
}

.transparent {
  background-color: transparent;
}

.none {
  border: none;
}

.small {
  border-radius: $border-radius-md;
}

.medium {
  border-radius: $border-radius-lg;
}

.large {
  border-radius: $border-radius-xl;
}

.rounded {
  border-radius: $border-radius-round;
}

.innerShadow {
  box-shadow: inset 0px 6px 12px rgba(0, 0, 0, 0.45);
}
