@import "@/styles/variables.scss";

.container {
  max-width: $container-width;
  width: 100%;
  height: 100%;
  margin-inline: auto;

  .small {
    padding-block: 22px;
  }

  .medium {
    padding-block-start: 98px;
    padding-block-end: 98px;
  }

  @include for-mobile {
    padding-inline-start: 12px;
    padding-inline-end: 12px;
  }

  @include for-tablet {
    padding-inline-start: 45px;
    padding-inline-end: 45px;
  }

  @include for-desktop {
    padding-inline-start: 60px;
    padding-inline-end: 60px;
  }

  @include for-desktop-medium {
    // padding-inline-start: 90px;
    // padding-inline-end: 90px;
  }

  @include for-large-desktop {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
  }
}
