@import "@/styles/variables";

.container {
  padding-block-start: 60px;
  margin-bottom: 7.5rem;

  h2 {
    margin-block-end: 60px;

    @include for-mobile {
      margin-block-end: 40px;
    }
  }

  @include for-mobile {
    padding-inline: 0;
  }
}
