@import "@/styles/variables";

$container-padding: 40px;
$scrolled-container-padding: 20px;

.sideMenuContainer {
  position: fixed;
  right: 2rem;
  z-index: 100;
  transition: opacity 0.3s ease, top 0.5s ease, background-color 0.5s ease;
  border-radius: $border-radius-round;
  top: 550px;
  transform: translateY(-50%);

  &.initial {
    top: 550px;
    background-color: transparent;
    border-color: transparent;

    svg {
      color: $secondary !important;
    }

    .link {
      color: white;
    }
  }

  &.scrolled {
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 252, 227, 0.15);
    border: 3px solid $cream-100;
    box-shadow: 2px 2px 10px rgba(61, 62, 61, 0.1);
    backdrop-filter: blur(12px);
    border-radius: 100px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    @include for-desktop {
      right: 1.125rem;
    }

    @include for-large-desktop {
      right: calc((100vw - $screen-width) / 2 + $scrolled-container-padding);
    }
  }

  .linkContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 32px 20px;
  }

  .link {
    width: 36px;
    height: 36px;
    border: none;
    transition: color 0.3s ease;

    svg {
      width: 36px;
      height: 36px;
      transition: color 0.2s ease-out;
      color: $dark;
    }
  }

  @include for-large-desktop {
    right: calc((100vw - $screen-width) / 2 + $container-padding);
  }

  @include for-mobile {
    display: none;
  }
}
