@import "@styles/variables";

.teamMemberItemContainer {
  position: relative;

  .clippedShape {
    cursor: pointer;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: path(
      "M0 0H248V167H0V0Z M248 159C248 226.274 192.274 282 125 282C57.7258 282 2 226.274 2 159C2 91.7258 57.7258 36 125 36C192.274 36 248 91.7258 248 159Z"
    );

    @include for-mobile {
      width: 120px;
      height: 140px;
      clip-path: path(
        "M0 0H58.06V82.91H0V0Z M58.06 78.91C58.06 112.34 46.40 139.96 30.21 139.96C14.02 139.96 2.36 112.34 2.36 78.91 C2.36 45.48 14.02 17.86 30.21 17.86C46.40 17.86 58.06 45.48 58.06 78.91Z"
      );
    }

    @include for-desktop {
      width: 248px;
      height: 283px;
    }

    .imageContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      aspect-ratio: 5 / 6;

      img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        object-position: center;
      }

      @include for-desktop {
        aspect-ratio: 5 / 6;
      }
    }
  }
}
