@import "@/styles/variables";

@mixin backgroundImage($url) {
  background-image: $url;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

@mixin tileContainer {
  box-shadow: inset 0px 6px 12px rgba(0, 0, 0, 0.45);
  border-radius: $border-radius-xl;
}

.gridContainer {
  padding-block-start: 60px;
  padding-block-end: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.tileMain,
.tileSecondary,
.tileTertiary {
  @include tileContainer;
}

.tileMainWrapper {
  position: relative;
  height: 884px;
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;

  display: flex;

  .starsDecoration {
    left: 70%;
  }

  .starsDecorationXAxis {
    margin-left: 70%;
    left: -15px;
  }

  .starsDecorationYAxis {
    margin-left: 70%;
    left: -50px;
    top: -56px;
    transform: rotate(90deg);
  }

  .wigwamDecoration {
    left: -20px;
    top: 30%;
    transform: translateY(-30%);
    border-top-right-radius: 60px;
  }

  .wigwamDecorationXAxis {
    margin-left: -15px;
    left: -26px;
    transform: rotate(270deg);
    top: 229px;
  }

  .wigwamDecorationYAxis {
    transform: rotate(3600deg);
    margin-top: -15px;
    top: 254px;
  }

  .tileMain {
    padding: 40px;
    display: flex;
    @include backgroundImage(url("/assets/aboutImage.png"));

    .textContainer {
      margin-block-start: auto;
      max-width: 70%;
      color: $secondary;

      padding: 32px;
      background: rgba(255, 252, 227, 0.15);
      border: 3px solid rgba(255, 252, 227, 0.2);
      box-shadow: 4px -1px 8px rgba(61, 62, 61, 0.15);
      backdrop-filter: blur(17.5px);
      border-radius: 40px;

      h4 {
        margin-block-end: 28px;
      }
    }
  }
}

.tileSecondaryWrapper {
  position: relative;
  grid-column-start: 3;

  .tileSecondary {
    height: 100%;
    width: 100%;
    @include backgroundImage(url("/assets/aboutImage2.png"));
    border-top-left-radius: 40px;
  }

  .moonDecoration {
    left: -20px;
    top: 25%;
    transform: translateY(-25%);
  }

  .moonDecorationXAxis {
    margin-left: -15px;
    left: -26px;
    transform: rotate(270deg);
    top: 78px;
  }

  .moonDecorationYAxis {
    transform: rotate(3600deg);
    margin-top: -15px;
    top: 103px;
  }

  .logoDecoration {
    .logoDecorationWrapper {
      .imageContainer {
        width: 234px;
        height: 55px;
        position: relative;
      }

      padding: 13px 21px;
    }
  }

  .logoDecorationXAxis {
    right: -40px;
    margin-right: 0;
    transform: rotate(90deg);
    bottom: 67px;
  }

  .logoDecorationYAxis {
    transform: rotate(90deg);
    bottom: -55px;
    left: 47%;
  }
}

.tileTertiaryWrapper {
  position: relative;
  grid-column-start: 3;
  grid-row-start: 2;

  .tileTertiary {
    height: 100%;
    width: 100%;
    @include backgroundImage(url("/assets/aboutImage1.png"));

    border-bottom-left-radius: 40px;
  }

  .featherDecoration {
    left: -20px;
    bottom: 15%;
    transform: translateY(-15%);
  }

  .featherDecorationXAxis {
    margin-left: -15px;
    left: -26px;
    transform: rotate(270deg);
    top: 229px;
  }

  .featherDecorationYAxis {
    transform: rotate(3600deg);
    margin-top: -15px;
    top: 254px;
  }
}

.mobileMainTile {
  @include for-desktop {
    display: none;
  }
}
