@import '@/styles/variables';

.container {
	position: relative;
	margin-bottom: 7rem;
	@include for-mobile {
		margin-bottom: 400px;
	}
}
.button {
	position: absolute;
	width: 210px;
	height: 210px;
	right: 50%;
	bottom: -62px;
	display: flex;
	align-items: center;
	justify-self: center;
	border-radius: 50%;
	border: 15px solid $secondary;
	background-color: $secondary;

	@include for-mobile {
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom: -124px;
		width: 230px;
		height: 230px;
		border: 25px solid $secondary;
	}
	@include for-desktop {
		left: 27%;
	}
	@include for-desktop-medium {
		bottom: -61px;
	}
	@include for-large-desktop {
		left: 52.5%;
	}
}

.buttonWrapper {
	position: relative;

	img {
		position: relative;
		z-index: 1;
	}
}

.cutoutLeft,
.cutoutLeftMob,
.cutoutRightMob,
.cutoutRight {
	background-color: $secondary;
	width: 130px;
	height: 70px;
	position: absolute;
	z-index: 0;
	@include for-mobile {
		height: 50px;
	}
}
.cutoutLeft,
.cutoutLeftMob {
	bottom: 26px;
	left: -73px;
	mask-image: radial-gradient(60px at 0% -20%, #0000 99%, #000 100%);

	@include for-mobile {
		mask-image: radial-gradient(40px at 0% -20%, #0000 99%, #000 100%);
	}
}
.cutoutLeft {
	@include for-mobile {
		bottom: 82px;
		left: -57px;
	}
}
.cutoutRight,
.cutoutRightMob {
	bottom: 26px;
	right: -73px;
	mask-image: radial-gradient(60px at 100% -20%, #0000 99%, #000 100%);
	@include for-mobile {
		mask-image: radial-gradient(40px at 100% -20%, #0000 99%, #000 100%);
	}
}

.cutoutRight {
	@include for-mobile {
		bottom: 82px;
		right: -57px;
	}
}

.cutoutLeftMob {
	@include for-mobile {
		left: -53px;
	}
}

.cutoutRightMob {
	@include for-mobile {
		right: -53px;
	}
}

.cutoutLeftMob,
.cutoutRightMob {
	display: none;
	@include for-mobile {
		display: block;
		transform: scaleY(-1);
		bottom: 44px;
	}
}
